<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SistemaVentasTienda"
			 connectionString="Data Source=LAPTOP-ORNAHHQV\SQLEXPRESS;Initial Catalog=SistemaVentasTienda;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
